* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff222;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    text-align: center;
}

.container h2 {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 32px;
    margin-bottom: 24px;
}

.color {
    color: aqua;
}

.btn {
    background-color: transparent;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: black;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in;
}

